<h4>Musics</h4>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card border-secondary mb-3" style="max-width: 45rem;">
        <div class="card-header">
          music 1
        </div>
        <div class="card-body">
          <h5 class="card-title">Olivia Rodrigo - All I Want</h5>
          <audio controls loop>
            <source src="https://marilyn7.oceansaver.in/pacific/?BgtZRCyvIWDLhASPXM1MQmJGK8U">
            </source>
          </audio>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card border-secondary mb-3" style="max-width: 45rem;">
        <div class="card-header">
          music 2
        </div>
        <div class="card-body">
          <h5 class="card-title">yama - 『Oz.』</h5>
          <audio controls loop>
            <source src="https://samuel8.oceansaver.in/pacific/?A9CTTmUp9W2nhmrz1efbfF6NeLm">
            </source>
          </audio>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card border-secondary mb-3" style="max-width: 45rem;">
        <div class="card-header">
          music 3
        </div>
        <div class="card-body">
          <h5 class="card-title">Taylor Swift - Back to december</h5>
          <audio controls loop>
            <source src="https://cody51.oceansaver.in/pacific/?7RKqzvvXeBtCD1G8gYAYmg02zdO">
            </source>
          </audio>
        </div>
      </div>
    </div>
  </div>
</div>
